.footer-button {
  color: var(--green-primary-light);
  font-family: 'Franklin Gothic Medium Cond', 'Arial';
  font-size: 1.8rem;
  text-decoration: none;
}

.footer-button a:active {
  text-decoration: underline #000
}