* {
  margin: 0;
  padding: 0;
}

.soon {
  background-color: var(--green-primary);
  color: var(--text-light);
  grid-template-rows: 30vh min-content 40vw min-content min-content; /* 30% of view port heigth */
  padding-bottom: 20px;
}

.container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--grey-primary-light);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 0 auto;
  /* border: 1px solid var(--grey-primary-light); */
}

.container img {
  width: 100%;
}
